app = "{{name}}-ghost"
primary_region = "{{region}}"

[build]
  image = "ghost:5-alpine"

[mounts]
  source="ghost_data"
  destination="/var/lib/ghost/content"

[http_service]
  force_https = true
  internal_port = 2368
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]