# Those are credentials for your MySQL.
# Make sure to keep them somewhere or
# you may lose access to your database.

mysql user name: {{dbUser}}
mysql database name: {{dbName}}
mysql user password: {{dbUserPwd}}
mysql root password: {{dbRootPwd}}
